<template>
  <div class="auth">
    <button @click="$router.go(-1)" class="auth__close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          fill="#fff"
          fill-opacity="1"
          fill-rule="evenodd"
          d="M15.707 5.707c.39-.39.39-1.024 0-1.414-.39-.39-1.024-.39-1.414 0L10 8.586 5.707 4.293c-.39-.39-1.024-.39-1.414 0-.39.39-.39 1.024 0 1.414L8.586 10l-4.293 4.293c-.39.39-.39 1.024 0 1.414.39.39 1.024.39 1.414 0L10 11.414l4.293 4.293c.39.39 1.024.39 1.414 0 .39-.39.39-1.024 0-1.414L11.414 10l4.293-4.293z"
          clip-rule="evenodd"
        ></path></svg
      >Закрыть
    </button>
    <div class="auth__popup">
      <div v-if="popupLogin" class="auth__login">
        <form @submit.prevent="submitLogin" class="auth__form">
          <h2 class="auth__title">Войти</h2>
          <div class="auth__field">
            <input
              v-model="email"
              type="text"
              placeholder="Электронная почта"
              required
            />
          </div>
          <div class="auth__field">
            <input
              v-model="password"
              type="password"
              placeholder="Пароль"
              required
            />
          </div>
          <button class="auth__btn" type="submit">Войти</button>
          <a class="auth__password-reset">Забыли пароль?</a>
        </form>
        <div class="auth__footer">
          <h3><span>нет аккаунта?</span></h3>
          <a @click="activepopupRegister" href="#">Зарегистрироваться</a>
        </div>
      </div>
      <div v-if="popupRegister" class="auth__register">
        <form @submit.prevent="submitRegister" class="auth__form">
          <h2 class="auth__title">Регистрация</h2>
          <div class="auth__field">
            <input
              v-model="email"
              type="text"
              placeholder="Электронная почта"
              required
            />
          </div>
          <div class="auth__field">
            <input v-model="lastName" type="text" placeholder="Имя" required />
          </div>
          <div class="auth__field">
            <input
              v-model="firstName"
              type="text"
              placeholder="Фамилия"
              required
            />
          </div>
          <div class="auth__field">
            <input
              v-model="password"
              type="password"
              placeholder="Пароль"
              required
            />
          </div>
          <button class="auth__btn auth__btn-register" type="submit">
            Зарегистрироваться
          </button>
        </form>
        <div class="auth__footer">
          <h3><span>Есть аккаунт?</span></h3>
          <a @click="activepopupLogin" href="#">Войти</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";

export default {
  data() {
    return {
      popupLogin: true,
      popupRegister: false,
      email: "",
      password: "",
      lastName: "",
      firstName: "",
      error: null,
    };
  },
  methods: {
    activepopupLogin() {
      this.popupLogin = true;
      this.popupRegister = false;
    },
    activepopupRegister() {
      this.popupLogin = false;
      this.popupRegister = true;
    },
    submitLogin() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.$router.replace({ name: "Home" });
        })
        .catch((err) => {
          this.error = err.message;
        });
    },
    submitRegister() {},
  },
};
</script>

<style lang="scss">
.auth {
  transition: opacity 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgba(15, 15, 30, 0.98);
  overflow-y: auto;
  width: 100%;
  height: 100%;

  &__close {
    display: flex;
    align-items: center;
    position: absolute;
    border: none;
    outline: none;
    right: 20px;
    top: 20px;
    background: none;
    cursor: pointer;
    line-height: 20px;
    font-weight: 400;
    color: #0087ff;

    svg path {
      fill: #0087ff;
    }
  }
  &__popup {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    left: 0;
    top: 50px;
    background-color: #fff;
    padding: 30px;
    color: #4d4d4d;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: #000;
    margin-bottom: 20px;
  }
  &__field {
    margin: 0 0 10px;

    input {
      height: 38px;
      border: 2px solid #9e9e9e;
      background: #fff;
      padding: 7px 10px;
      width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #4d4d4d;
      outline: 0;
    }
  }
  &__btn {
    border: 0;
    position: relative;
    background-color: #00a4d1;
    color: #fff !important;
    padding: 8px 40px 8px;
    height: 38px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    &-register {
      width: 100%;
      margin: 0 auto;
      background-color: #dc4300;
    }
  }
  &__password-reset {
    margin-left: 20px;
    font-size: 14px;
  }
  &__footer {
    margin: 20px 0 10px 0;
    h3 {
      margin: 0 0 20px;
      border-bottom: 1px solid #ccc;
      text-align: center;
      font-size: 13px;

      span {
        display: inline-block;
        position: relative;
        top: 5px;
        padding: 0 10px;
        background-color: #fff;
      }
    }
    a {
      color: #fff;
      display: block;
      height: 55px;
      line-height: 55px;
      font-weight: bold;
      text-align: center;
      border-radius: 2px;
      text-decoration: none;
    }
  }
  .auth__register {
    .auth__footer a {
      background-color: #00a4d1;
    }
  }
  .auth__login {
    .auth__footer a {
      background-color: #dc4300;
    }
  }
}
</style>
