<template>
  <header class="header">
    <div class="container">
      <nav class="header__nav">
        <router-link class="header__nav-link" to="/">Главная</router-link>
      </nav>
    </div>
  </header>
</template>

<style lang="scss">
.header {
  background-color: #0f0f1e;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;

  &__nav {
    display: flex;
    align-items: center;

    &-link {
      padding: 14px 0;
      text-decoration: none;
      font: 14px/14px "Roboto", sans-serif;
      color: #fff;
    }
  }
}
</style>
