<template>
  <the-navbar></the-navbar>
  <main>
    <div class="container">
      <router-view />
    </div>
  </main>
</template>

<script>
import TheNavbar from "@/components/TheNavbar";
export default {
  components: {
    TheNavbar,
  },
};
</script>

<style lang="scss">
main {
  padding-top: 20px;
}
</style>
